/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */

body {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
}
main {
    display: flex;
    flex-direction: column;
    flex: 2;
}
aside {
    background-color:#3f0e40;
    color:#a994ab;
    display: flex;
    flex-direction: column;
    width: 200px;
}
#whole {
    display: flex;
    flex-direction: column;
    top: 0;
    padding:12px;
    position:sticky;
}
#whole span:nth-child(1) {
    color: white;
}
#whole:hover {
    color:white;
    cursor: pointer;
}
#whole div:first-child {
    display: flex;
    justify-content:space-between;
}
#whole div:last-child i {
    color:#76c9c0;
    font-size: 9px;
    padding-right: 5px;
}
#search {
    height:48px;
}
#jump {
    display: flex;
    justify-content: space-between;
    color:#aa95ab;
    width: 190px;
    margin: 4px 8px;
    border-radius: 4px;
    border:1px solid transparent;
    top: 14px;
    padding: 6px 6px;
}
#jump span {
    display:none;
}
#jump:hover span {
    display: inline-block;
}
#jump:hover {
    background-color: #1c001d;
}
#inter {
    color: #aa95ab;
    font-size:18px;
    padding:6px 16px;
}
#inter i {
    font-size:13px;
}
#inter:hover {
    background-color: #350D36;
    cursor: pointer;
}
.space {
    height: 16px;
}
.all-channels {
    color: #aa95ab;
}
.intro-channels {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    align-items: center;
}
.intro-channels:hover span {
    color: white;
}
.intro-channels:hover {
    background-color: #350D36;
}
.intro {
    padding: 3px 14px;
    font-size: 15px;
}
.intro i{
    font-size: 13px;
}
.intro:hover {
    background-color: #350D36;
}
.intro:active {
    color:white;
    background-color:  #196eaf;
}
#terminal i {
    color:#76c9c0;
}
#heading {
    color:#4b4a4b;
    display: flex;
    flex-direction:column;
    margin-left: 19px;
}
#heading h2 {
    font-size: 20px;
    margin: 10px 0 8px 0;
}
#heading #icons  {
    font-size: 16px;
    color: #656465;
}
header{
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
}
#heading #icons span {
    border-right: 1px solid  #656465;
    padding: 0 5px;
    margin-bottom: 2px;
}
#heading #icons span:last-child {
    border-right: 0px solid #656465;
}
#heading #icons :nth-child(1) {
    /* border-right: 1px solid  #656465; */
    padding: 0 5px;
    margin-bottom: 2px;
}
#heading #icons>span:first-child:hover{
    color: #f2c849;
    cursor: pointer;
}
#heading #icons span:nth-child(2):hover,#heading #icons span:nth-child(3):hover,#heading #icons span:nth-child(4):hover{
    color:#1164a3;
    cursor: pointer;
}
#header-end {
    display: flex;
    align-items: center;
}
#header-end span {
    margin: 8px;
    font-size: 18px;
}
#header-end span:nth-child(2):hover,#header-end span:nth-child(3):hover,#header-end span:nth-child(7):hover {
    color: #1164a3;
    cursor: pointer;
}
#header-end span:nth-child(5):hover {
    color: red;
    cursor: pointer;
}
#header-end span:nth-child(6):hover{
    color:#f2c849;
}
#header-end button i{
    margin:0 6px;
    color:black;
}
#header-end button:hover {
    color:#1164a3;
    cursor: pointer;
}
#header-end button:hover i {
    color:#1164a3;
    cursor: pointer;
}
#header-end button {
    color: #aa95ab;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8d8b8b; 
    padding: 4px 8px;
    top:15px;
    width: 193px;
    margin-top: 5px;
    margin-right: 14px;
    margin-left: 14px;
}
#freecode {
    display: flex;
    margin-left: 19px;
    flex-direction: column;
   
}
#major{
    display: flex;
    flex-direction: column;
    
}
#major mark {
    background-color: #e8f5fa;
}
.addition {
    display: flex;
}
.addition div a {
    text-decoration: none;
}
.addition div span {
    margin-left: 20px;
}
#date {
    display: flex;
    flex-direction: column;
}
legend {
    text-align: center;
}
/* #image {
    display: flex;
}
#reference {
    display: flex;
} */
 
footer {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    display: flex;
    height: 70px;
    position: fixed;
    bottom:0;
}
footer button:first-child {
    background-color: white;
    height:50px;
    width:50px;
    border:2px solid rgba(134,134,134,.7);
    color:#616061;
    font-size: 16px;
    margin-left: 19px;
    border-right: 0px;
    border-radius: 5px 0 0 5px;
}
footer button:first-child:hover{
    color:white;
    background-color: #56b68b;
    border-color:#007a5a;

}
footer input {
    background: #fff;
    border: 2px solid rgba(134,134,134,.7);
    color: rgba(134,134,134,.7);
    font-size: 15px;
    border-right: 0px;
    padding-left: 8px;
    height: 50px;
    width: 70%;
}
footer button:last-child {
    background: #fff;
    border: 2px solid rgba(134,134,134,.7);
    color: #616061;
    font-size: 16px;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    margin-right: 20px;
    width: 70px;
}
footer button:last-child i:first-child:hover{
    color: #1164a3;
    cursor: pointer;
}
footer button:last-child i:last-child:hover{
    color: #f2c849;
    cursor: pointer;
}

footer button:last-child i {
    margin: 0 5px;
}